@use "./style/colors.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 64px;

  width: calc(100vw - 128px);
  height: calc(100vh - 128px);

  min-height: 400px;

  background-color: colors.$linen;
}

.card {
  max-width: 800px;
  min-width: 400px;
  width: 100%;

  min-height: 400px;
  height: 100%;

  border: 2px solid colors.$blue;
  border-radius: 8px;
  background-color: colors.$rose;

  display: flex;
  flex-direction: column;

  margin: 40px;
  padding: 8px;
}

.actions {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
